{% extends "base.html" %}
{% block title %}Moderation Policy - Zuban Daraz{% endblock %}
{% block content %}
<div class="entry-detail">
 <div class="browse-heading">
    <h1 class="browse-title">Moderation Policy</h1>
  </div>

  <div class="wallotext">
    <p> 

  1) Entries should remain focused on examples of gendered language, i.e. language that you feel conveys a certain idea or expectation for members of a specific gender. Everyone 
  is welcome, but off-topic entries are strictly not allowed. 
<br> <br> 
  2) Entries should ideally be from languages spoken in South Asia, but we will often allow English words that are used commonly in a unique context in the subcontinent 
(like the word "smart" to refer to a woman's physique). 
<br> <br> 
  3) Bad-faith editing of entries with incorrect information is strictly not allowed. If you find fault with the linguistic information about a word, please feel free edit!
<br> <br> 
  4) Do not include personally identifying information of yourself or others. Although Zuban Daraz aims to create a safe space where people can share their stories, we would
  urge you not to accidently doxx someone online for your own internet safety. 
<br> <br> 
  5) Remain respectful when sharing your stories! Sexism, racism, homophobia, or discrimination of any kind if not allowed. 

  
  
  </p>
  </div>
</div>
{% endblock %}
